<%- include("partials/header.ejs")-%>
<h1 style="color: red">Admin Dashboard</h1>
<div style="display: flex; flex-direction: row">
    <ul>
        <a href="/api/user/admin-home">Home</a>
      </ul>
      <ul>
        <a href="/api/user/admin-team">Team management</a>
      </ul>
      <ul>
        <a href="/api/user/admin-task">Task management</a>
      </ul>
</div>

<div class="container">
  <h2 style="color: blue">Team Management</h2>

  <!-- Form to add a new team -->
  <div class="team-form">
    <h2>Add Team</h2>
    <form
      action="/api/teams"
      method="POST"
      style="display: flex; flex-direction: column; width: 20%; padding: 10px"
    >
      <input type="text" name="name" placeholder="Team Name" required />
      <input type="text" name="description" placeholder="Description" />
      <input type="text" name="members" placeholder="Members" />
      <button type="submit">Add Team</button>
    </form>
  </div>

  <!-- List of existing teams with delete option -->
  <div class="team-list">
    <h2>Existing Teams</h2>
    //list of teams adn deletions action
  </div>
</div>
<%- include("partials/footer.ejs")-%>
