<%- include("partials/header.ejs")-%>

<h1 style="color: red">User</h1>
<div style="display: flex; flex-direction: row">
  <ul>
    <a href="/api/user/user-home">Home</a>
  </ul>
  <ul>
    <a href="/api/user/user-team">My Teams</a>
  </ul>
  <ul>
    <a href="/api/user/user-task">My Tasks</a>
  </ul>
  <ul>
    <a href="/api/user/user-notifications">My Notifications</a>
  </ul>
</div>

<div class="container">
  <h2 style="color: blue;">My Tasks</h2>

  <!-- Form to add a new team -->
  <div class="team-form">
    <h2>All Tasks</h2>
    
  </div>

  <!-- List of existing teams with delete option -->
</div>
<%- include("partials/footer.ejs")-%>